
{% if delete_register %}
	<!-- The Modal Delete -->
	<div class="modal fade" id="modalDelete">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Delete {{register_name}}</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<!-- Modal body -->			
				<form method="post" class="formSendAjax" action="{{ form_action }}">
					<div class="modal-body">
						<div id="messageBody" class="messageBody alert alert-primary">
							nothing to show
						</div>
						Are you sure of delete this {{register_name}}?
					</div>
					
					<!-- Modal footer -->
					<div class="modal-footer">					
						<!-- Hidden Params -->
						<input type="hidden" name="ajax_action" value="eliminar_modal">
						<input type="hidden" name="object_id" id="delete_object_id" value="">
						<!-- Buttons -->				
						<button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Yes, delete</button>
						<button type="reset" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-ban"></i> Cancel</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endif %}
