{% extends "structure.html" %}

{% block content_body %}
{% if is_project_admin %}


<div class="modal fade" id="view_help" tabindex="-1" role="dialog" aria-labelledby="view_help" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Page help</h5>
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>
            <div class="modal-body">
                <p>In this section the consistency matrix is shown, the separate parameters are generated to improve the visualization, for each parameter the options with which it can be related are enabled.<br /><br />To change the status of "X" (they are not related) to "- "(if they are related) you simply have to click on the button and that's it.</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-secondary" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit-observations" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<form method="post" action="{{ form_action }}">
				{% csrf_token %}
				<div class="modal-body">
					<div class="form-group">
						<label for="valueAddC">Observations</label>
						<textarea class="form-control" name="observations" id="observations_field" placeholder="Observations"></textarea>
					</div>
					<input type="hidden" name="tipoForm" value="editData">
					<input type="hidden" name="project_id" value="{{ project.pk }}">
					<input type="hidden" id="cross_observations_id" name="cross_id" value="">
					<input type="hidden" name="tipoEdit" value="cross_observations">
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-success" name="in_confirm_insert" id="confirm-add-parameter-button">Modify Observations</button>
					<button type="reset" data-dismiss="modal" class="btn btn-danger" name="in_confirm_insert" id="cancel-delete-button">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>

	<div class="row">
		<div class="col-md-8">
			<div class="card">
				<div class="card-body">	
									
					<!--input type="checkbox" name="switch" id="viewControlsCheckLabel" checked="checked" />
					<label for="viewControlsCheckLabel">Hide value controls</label-->
					
					<button type="button" id="showHelp" class="btn btn-primary" data-toggle="modal" data-target="#view_help">
						<i class="fa fa-question-circle"></i> Help
					</button>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<div class="card-body">
					<a title="Redirect to project input matrix" class="btn btn-primary" href="/projects/input_matrix/{{project.pk}}">Input Matrix</a>
					<a title="Redirect to project problem states" class="btn btn-info" href="/projects/problem_states/{{project.pk}}">Problem states</a>						
				</div>
			</div>
		</div>		
	</div>
	
	
	
			<!--table class="table-fixed table table-bordered table-sm">
				<thead class="thead-dark">
					<tr>
						<th></th>	
						<th></th>
						{% for col in parameter_model %}
							{% if col != parameter_model|last %}
								<th style="text-align:center;" colspan='{{col.values|length}}'>{{col.title}}</th>
							{% endif %}
						{% endfor %}
					</tr>
					<tr>
						<th></th>
						<th></th>
						{% for col in parameter_model %}
							{% if col != parameter_model|last %}
								{% for value in col.values %}
									<th class="rotate"><div><span>{{value.title}}</span></div>
								{% endfor %}
							{% endif %}
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% for col in table_model %}
						<tr>
							{% for value in col %}
								{% if value == col|first %}
									<td class="join_col" col_span="join_{{value.parameter.id}}" title="{{value.observations}}">{{value.parameter.title}}</td>
									<td title="{{value.observations}}">{{value.title}}</td>
								{% else %}
									<td title="{{ value.observations }}">
										<button title="Click to change state" class="btn btn-success btn-sm stateButton" pk="{{ value.relational_id }}">{{value.state}}</button>
										<button cross_id="{{ value.relational_id }}" observations="{{ value.observations }}" class="btn btn-warning btn-xs btn-observations" title="View and edit observations">
											<i class="fa fa-info-circle"></i>
										</button>							
									</td>
								{% endif %}
							{% endfor %}
						</tr>
					{% endfor %}			
				</tbody>
			</table-->
			
{% for table in table_model %}
	<div class="card">
		<div class="card-header">
			<p>Cross with parammeter <i>{{ table.param_left }}</i></p>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table-fixed table table-bordered table-sm" style="width:auto; margin:auto;">
					<tr>
						<td colspan = "2" rowspan="2"></td>
					{% for title in table.titles_table %}
						<th colspan="{{ title.values|length }}"><center>{{title.title}}</center></th>
					{% endfor %}
					</tr>
					<tr>
					{% for title in table.titles_table %}
						{% for title2 in title.values %}
						<th>{{title2.title}}</th>
						{% endfor %}
					{% endfor %}
					</tr>
					<tbody>
						{% for row in table.intern_table %}
							<tr>
								{% if row == table.intern_table|first %}
									<td rowspan = "{{table.intern_table|length}}">{{ table.param_left }}</td>
								{% endif %}
								<td>{{ row.title }}</td>
								{% for cell in row.valores %}
									<td><button class="btn btn-success btn-sm stateButton" data-toggle="tooltip" data-placement="right"  pk="{{ cell.pk }}" title="{{cell.legend}}">{{ cell.value }}</button></td>
								{% endfor %}
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endfor %}
<input type="hidden" id="project_id" name="project_id" value="{{project.pk}}">
<input type="hidden" id="action" name="action" value="{{form_action}}">
	
{% else %}
	<div class="input-group col-md-3">
		<a title="Redirect to project input matrix" class="btn btn-primary" href="/projects/input_matrix/{{project.pk}}">Input Matrix</a>
		<a title="Redirect to project problem states" class="btn btn-info" href="/projects/problem_states/{{project.pk}}">Problem states</a>
	</div>
	<br />
	<i>You don't have permission to modify this cross consistency matrix, only can view</i>
	<table class="table table-bordered table-sm" style="width:auto;">
		<thead class="thead-dark">
			<tr>
				<th></th>	
				<th></th>
				{% for col in parameter_model %}
					{% if col != parameter_model|last %}
						<th colspan='{{col.values|length}}'>{{col.title}}</th>
					{% endif %}
				{% endfor %}
			</tr>
			<tr>
				<th></th>
				<th></th>
				{% for col in parameter_model %}
					{% if col != parameter_model|last %}
						{% for value in col.values %}
							<th class="rotate"><div><span>{{value.title}}</span></div>
						{% endfor %}
					{% endif %}
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for col in table_model %}
				<tr>
					{% for value in col %}
						{% if value == col|first %}
							<td class="join_col" col_span="join_{{value.parameter.id}}" title="{{value.observations}}">{{value.parameter.title}}</td>
							<td title="{{value.observations}}">{{value.title}}</td>
						{% else %}
							<td title="{{ value.observations }}">{{value.state}}</td>
						{% endif %}
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
	

{% endif %}
{% endblock %}
