{% extends "structure.html" %}

{% block content_body %}

{% if can_edit == True %}
	
	{% if is_project_admin %}
		<div class="modal fade" id="view_permissions" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-body">
						{% if user_permissions|length > 0%}
							<div class="row">
								<div class="col-md-3">
									<b>User</b>
								</div>
								<div class="col-md-3">
									<b>Parameter title</b>
								</div>
								<div class="col-md-3">
									<b>Permissions</b>
								</div>
								<div class="col-md-3">
									<b>Operations</b>
								</div>
							</div>
							<hr />
							{% for reg in user_permissions %}
								<div class="row">
									<div class="col-md-3">
										{{reg.user}}
									</div>
									<div class="col-md-3">
										{{reg.parameter}}
									</div>
									<div class="col-md-3">
										<input type="checkbox" id="can_view{{reg.pk}}" {% if reg.can_view == True %} checked {% endif %} > <label for="can_view{{reg.pk}}">Can view</label> | 
										<input type="checkbox" id="can_edit{{reg.pk}}" {% if reg.can_edit == True %} checked {% endif %}> <label for="can_edit{{reg.pk}}">Can edit</label>
									</div>
									<div class="col-md-3">
										<button class="btn btn-sm btn-success edit_permission" pk="{{reg.pk}}">Edit</button> 
									</div>
								</div>
							
							{% endfor %}
						{% else %}
							There aren't collaborators for this project.
						{% endif %}
						
					</div>
					<div class="modal-footer">
						<button type="reset" data-dismiss="modal" class="btn btn-danger" name="in_confirm_insert" id="cancel-delete-button">Close</button>
					</div>
				</div>
			</div>
		</div>
			
		<div class="modal fade" id="add-parameter" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<form method="post" action="{{ form_action }}">
						{% csrf_token %}
						<div class="modal-body">
							<div class="form-group">
								<label for="parameterAddC">Parameter title</label>
								<textarea required id="parameterAddC" name="title_parameter" class="form-control bg-dark text-white" placeholder="Parameter title"></textarea>
							</div>
							<div class="form-group">
								<label for="valueAddC">First value title</label>
								<textarea required class="form-control" name="title_value" id="valueAddC" placeholder="first value title"></textarea>
							</div>
							<input type="hidden" name="tipoForm" value="addData">
							<input type="hidden" name="object_id" value="{{ project.pk }}">
							<input type="hidden" name="tipoAdd" value="parameter">
						</div>
						<div class="modal-footer">
							<button type="submit" class="btn btn-success" name="in_confirm_insert" id="confirm-add-parameter-button">Add</button>
							<button type="reset" data-dismiss="modal" class="btn btn-danger" name="in_confirm_insert" id="cancel-delete-button">Cancel</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	{% endif %}
	
	<div class="modal fade" id="add-value" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<form method="post" id="form_for_action" action="{{ form_action }}">
					{% csrf_token %}
					<div class="modal-body">
						<div class="form-group">
							<label for="valueAddC">Value title</label>
							<textarea required class="form-control" name="title_value" id="valueAddC" placeholder="Value title"></textarea>
						</div>
						<input type="hidden" name="tipoForm" value="addData">
						<input type="hidden" id="project_id" name="project_id" value="{{ project.pk }}">
						<input type="hidden" id="parameter_id_add_value" name="parameter_id" value="">
						<input type="hidden" name="tipoAdd" value="value">
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-success" name="in_confirm_insert" id="confirm-add-parameter-button">Add</button>
						<button type="reset" data-dismiss="modal" class="btn btn-danger" name="in_confirm_insert" id="cancel-delete-button">Cancel</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="view_help" tabindex="-1" role="dialog" aria-labelledby="view_help" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Page help</h5>
                    <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </a>
                </div>
                <div class="modal-body">
                    <p>
						In this section the aforementioned matrix is shown, you can add parameters and their respective values, to do so, press on the button that has the add symbol with title "Parameter", there you will be asked for the title of the parameter and a value initially, for add another value, click on the box in the parameter table and press the add button, there you will be asked for the value text. So you will proceed with the following actions.
						<br /><br />
						In addition, you can give permission to collaborating users to edit only specific parameters and thus have better clarity about the process.
					</p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-secondary" data-dismiss="modal">Close</a>
                </div>
            </div>
        </div>
    </div>
	
	<div class="modal fade" id="delete-model-modal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<form method="post" action="{{ form_action }}">
					{% csrf_token %}
					<div class="modal-body">
						Are you sure you want to delete this?
					</div>
					<div class="modal-footer">
						<input type="hidden" value="" id="parameter_id_delete" name="parameter_id">
						<input type="hidden" value="" id="value_id_delete" name="value_id">
						<input type="hidden" name="tipoForm" value="deleteData">
						<input type="hidden" name="project_id" value="{{ project.pk }}">
						<input type="hidden" name="tipoDelete" id="tipoDelete" value="">
						
						<button type="submit" class="btn btn-danger" name="in_confirm_insert" id="confirm-delete-button">Yes, Delete</button>
						<button type="reset" data-dismiss="modal" class="btn btn-default" name="in_confirm_insert" id="cancel-delete-button">No, Cancel</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
<div class="row">
	<div class="col-md-8">
		<div class="card">
			<div class="card-body">
				<div class="value">
					<div class="btn-group col-md-9" role="group" aria-label="First group">
					
						{% if is_project_admin %}
							<button type="button" class="btn btn-success" data-toggle="modal" data-target="#add-parameter">
								<i class="fa fa-plus-circle"></i> parameter
							</button>
							<button type="button" class="btn btn-info" data-toggle="modal" data-target="#view_permissions">
								<i class="fa fa-key"></i> Permissions
							</button>
						{% endif %}
						
						<button type="button" id="showHelp" class="btn btn-primary" data-toggle="modal" data-target="#view_help">
							<i class="fa fa-question-circle"></i> Help
						</button>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card">
			<div class="card-body">
				<div class="input-group col-md-3">
					<a class="btn btn-primary" href="/projects/cross_matrix/{{project.pk}}">Cross Consistency Matrix</a>
				</div>				
			</div>
		</div>
	</div>
</div>
<div class="bg-float"></div>
<div class="card">
	<div class="card-body">
		<table class="table table-bordered table-sm">
			<thead>
				<tr>
				{% for col in parameter_model %}
					{% if col.can_view %}
						<th class="thead-dark">
							<div class="click_row">{{ col.title }}</div>
							<div class="flotante-box">
								<button class="close_view btn btn-xs"><span aria-hidden="true">&times;</span></button>
								<form method="post" class="ajaxform">
									{% csrf_token %}
									<div class="col-md-10 valuesOptions">
										<div class="btn-group" role="group">
											{% if col.can_edit %}
												<button title="Add value to this parameter" type="button" class="btn-xs btn btn-success addValueButton" parameter_id="{{ col.id }}">
													<i class="fa fa-plus-circle"></i>
												</button>
											{% endif %}
										</div>
									</div>
									Title:
									<div class="col-md-12 valueText">
										{% if col.can_edit %}
											<textarea name="title" class="form-control bg-dark text-white controlTextarea">{{ col.title }}</textarea>
										{% else %}
											{{ col.title }}
										{% endif %}
									</div>
									Position:
									<div class="col-md-12 valueText">
										{% if col.can_edit %}
											<input class="form-control" type="number" min="0" name="order" value="{{ col.order }}">
										{% else %}
											{{ col.order }}
										{% endif %}
									</div>
									Observations:
									<div class="col-md-12 valueText">
										{% if col.can_edit %}
											<textarea name="observations" class="form-control bg-dark text-white">{{ col.observations }}</textarea>
										{% else %}
											{{ col.title }}
										{% endif %}
									</div>
									<hr />
									
									<input type="hidden" name="tipoForm" value="editData">
									<input type="hidden" name="project_id" value="{{ project.pk }}">
									<input type="hidden" name="parameter_id" value="{{ col.id }}">
									<input type="hidden" name="tipoEdit" id="tipoEdit" value="edit_parameter">
									
									<button class="btn btn-success"><i class="fa fa-save"></i> Save</button>
									{% if is_project_admin %}
										<a href="javascript:void(0);" class="btn btn-danger deleteParameter" parameter_id="{{col.id}}" title="Delete parameter and all values">
											<i class="fa fa-eraser"></i> delete
										</a>
									{% endif %}
								</form>
							</div>
						</th>
					{% endif %}
				{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for col in table_model %}
					<tr>
					{% for value in col %}
						<td>
						{% if value.can_view %}
							{% if value.exists %}
								<div class="click_row">{{ value.title }}</div>
								<div class="flotante-box">
									<button class="close_view btn btn-xs"><span aria-hidden="true">&times;</span></button>
									<form method="post" class="ajaxform">
										{% csrf_token %}
										<div class="col-md-10 valuesOptions">
											<div class="btn-group" role="group">
												{% if value.can_view %}	
													
													{% if col != table_model|first %}
														<button class="btn btn-primary btn-xs" title="Change value position">
															<i class="fa fa-angle-up"></i>
														</button>
													{% endif %}
													<!--button parameter_id="{{ value.col_id }}" value_id="{{value.id}}" observations="{{value.observations}}" class="editObservationsValue btn btn-warning btn-xs dropdown-toggle" title="View and edit observations" data-toggle="dropdown" aria-haspopup="true">
														<i class="fa fa-info-circle"></i>
													</button-->
												{% endif %}
											</div>
										</div>
										Title:
										<div class="col-md-12 valueText">
											{% if value.can_view %}
												<textarea rows="4" name="title" class="form-control controlTextarea">{{ value.title }}</textarea>
											{% else %}
												{{value.title}}
											{% endif %}
										</div>
										Position:
										<div class="col-md-12 valueText">
											{% if value.can_edit %}
												<input class="form-control" type="number" min="0" name="order" value="{{ value.order }}">
											{% else %}
												{{ value.order }}
											{% endif %}
										</div>
										Observations:
										<div class="col-md-12 valueText">
											{% if value.can_view %}
												<textarea  name="observations" class="form-control">{{ value.observations }}</textarea>
											{% else %}
												{{value.title}}
											{% endif %}
										</div>
										<hr />
										
										<input type="hidden" name="tipoForm" value="editData">
										<input type="hidden" name="project_id" value="{{ project.pk }}">
										<input type="hidden" name="parameter_id" value="{{ value.col_id }}">
										<input type="hidden" name="value_id" value="{{ value.id }}">
										<input type="hidden" name="tipoEdit" id="tipoEdit" value="edit_value">											
										
										<button class="btn btn-success" type="submit"><i class="fa fa-save"></i> Save</button>
										<a href="javascript:void(0);" class="btn btn-danger deleteValue" parameter_id='{{value.col_id}}' value_id="{{value.id}}" title="Delete value">
											<i class="fa fa-eraser"></i> delete
										</a>
									</form>
								</div>
								
							{% endif %}
						{% endif %}
						</td>
					{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
	{% if parameter_model|length == 0%}
		<div id="messageBody" class="messageBody alert alert-info">
			No parameters, add one by pressing the button
		</div>
	{% endif %}


{% else %}

	<hr />
	<i>You don't have permission to edit the input matrix of this project</i>
	<table class="table table-bordered">
		<thead>
			<tr>
			{% for col in parameter_model %}
				<th title="Observations: {{ col.observations }}">{{ col.title }}</th>
			{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for col in table_model %}
				<tr>
				{% for value in col %}
					<td>
						{% if value.title %}
							<string title="Observations: {{ value.observations }}">{{ value.title }}</string>
						{% endif %}
					</td>
				{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endif %}


{% endblock %}
