{% extends "structure.html" %}
{% load bootstrap4 %}
{% block content_body %}


<div class="modal fade" id="view_help" tabindex="-1" role="dialog" aria-labelledby="view_help" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Page help</h5>
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>
            <div class="modal-body">
                <p>This section shows the initial matrix where you can click on the cells you want, clicking on a cell will enable and disable others according to what you have done in the cross consistency matrix, the colors are Red, Blue and Gray , those that correspond to selected, enabled to select, disabled to select respectively.
					<br /><br />
					When you finish the process, you can save the configuration by clicking on the "Options"> "save" button and overwrite an existing record or create a new record, which you can then load by clicking on "Options"> "load".
				</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-secondary" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>

{% if is_project_admin %}
	<div class="modal fade" id="save-state" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div id="form_save">
					{% csrf_token %}
					<div class="modal-body">
						<div class="switch switch-sm switch-primary">
							<input type="checkbox" name="switch" id="OverwriteCheck" data-plugin-ios-switch checked="checked" />
							<label for="OverwriteCheck">Overwrite an existing register</label>
						</div>
						<div id="name_exists">
							{{ form_saved.media }}
							{% for field in form_saved %}
								{% bootstrap_field field form_group_class="col-md-12" label_class="col-md-12" field_class="col-md-12" size="small" layout="horizontal" %}
							{% endfor %}
						</div>
						<div style="clear:both;"></div>
						
						<div class="form-group" id="name_new">
							<label for="valueAddC">Name</label>
							<input type="text" name="save_title" class="form-control" value="" id="new_name" placeholder="Save title">
						</div>
						<input type="hidden" name="tipoForm" value="editData">
						<input type="hidden" name="tipoEdit" value="save">
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-success" name="in_confirm_insert" id="confirm-save">Save</button>
						<button type="reset" data-dismiss="modal" class="btn btn-danger" name="in_confirm_insert" id="cancel-delete-button">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="modal fade" id="load-state" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<form method="get" action="{{ form_action }}">
					<div class="modal-body">
						{% for field in form_saved %}
							{% bootstrap_field field form_group_class="col-md-12" label_class="col-md-12" field_class="col-md-12" size="small" layout="horizontal" %}
						{% endfor %}
						<div style="clear:both;"></div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-success" id="confirm-add-parameter-button">Load</button>
						<button type="reset" data-dismiss="modal" class="btn btn-danger" name="in_confirm_insert" id="cancel-delete-button">Cancel</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="modal fade" id="export-state" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<div class="form-group">
						<label for="valueAddC">Format</label>
						<select name="format_export" id="format_export" class="form-control">
							<option value="PNG">PNG</option>
						</select>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-success" name="in_confirm_insert" id="confirm_export">Export</button>
					<button type="reset" data-dismiss="modal" class="btn btn-danger" name="in_confirm_insert" id="cancel-delete-button">Cancel</button>
				</div>
			</div>
		</div>
	</div>

	<!--button type="button" class="btn btn-success" data-toggle="modal" data-target="#save-state">
		<i class="fa fa-save"></i> Save states
	</button-->
	
	
{% endif %}


<div class="row">
	<!-- Start the table -->
	<div class="col-md-7">
		<div class="card">
			<div class="card-body">
				{% if is_project_admin %}
				<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
					Options
				</button>
				<div class="dropdown-menu" role="menu">
					<a class="dropdown-item" href="#" id="save">Save</a>
					<a class="dropdown-item" href="#" id="load">Load</a>
					<a class="dropdown-item" href="#" id="export">Export to...</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#" id="posible_solutions">Possible solutions</a>
				</div>
				{% endif %}
				
				
				<button type="button" id="showHelp" class="btn btn-primary" data-toggle="modal" data-target="#view_help">
					<i class="fa fa-question-circle"></i> Help
				</button>
				
			</div>
		</div>
	</div>

	<div class="col-md-5">
		<div class="card">
			<div class="card-body">
				<a class="btn btn-primary" href="/projects/cross_matrix/{{project.pk}}">Consistency Matrix</a>
				<a class="btn btn-info" href="/projects/input_matrix/{{project.pk}}">Input Matrix</a>
			</div>
		</div>
	</div>
</div>

<div class="card">
	<div class="card-body">
		<table class="table table-bordered" id="table_relational">
			<thead>
				<tr>
				{% for col in parameter_model %}
					<th>
						<div class="value" {% if col.observations %} title="Observations: {{col.observations}}" {% endif %}>
							{{ col.title }}
						</div>
					</th>
				{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for col in table_model %}
					<tr>
					{% for value in col %}
						<td col_id="{{value.col_id}}" {% if value.exists %} class="SelectableRow tdRow" {% endif %} {% if value.observations %} title="Observations: {{value.observations}}" {% endif %} item="item_{{ value.id }}" value_id="{{ value.id }}">
						{% if value.exists %}
							{{value.title}}
						{% endif %}
						</td>
					{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<input type="hidden" id="project_id" value="{{ project.pk }}">
<input type="hidden" id="form_for_action" value="{{ form_action }}">
<input type="hidden" id="preload_state" value="{{ state }}">



{% if parameter_model|length == 0%}
	<div id="messageBody" class="messageBody alert alert-info">
		No parameters, add one in the input matrix view
	</div>
{% endif %}


<style>
	.select2{
		width: 90% !important;
	}
</style>

{% endblock %}
