{% extends "structure.html" %}
{% load staticfiles %}
{% load bootstrap4 %}
{% block content_body %}

{% if form_change_pass %}
	{{ form_change_pass.media }}
	<div class="modal fade" id="editContrasena">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Edit user password</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form method="post" action="{{ form_action }}">
					{% csrf_token %}
					<div class="modal-body">
						<div id="messageBody" class="messageBody alert alert-primary">
							Enter the new password twice to avoid errors.
						</div>
						<div class="row justify-content-start">
						{% for field in form_change_pass %}	
							{% bootstrap_field field form_group_class="col-md-12" label_class="col-md-4" field_class="col-md-8" size="small" layout="horizontal" %}
						{% endfor %}
						</div>
					</div>
					<div class="modal-footer">
						<input type="hidden" name="tipoForm" value="editData">
						<input type="hidden" name="tipoEdit" value="password">
						<input type="hidden" name="object_id" value="{{ user_data.pk }}">
						<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Edit</button>
						<button type="reset" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Cancel</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endif %}


{% if form_edit_user %}
	{{ form_edit_user.media }}
	<div class="modal fade" id="editUser">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Edit user data</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form method="post" action="{{ form_action }}">
					{% csrf_token %}
					<div class="modal-body">
						<div class="row justify-content-start">
						{% for field in form_edit_user %}
							{% bootstrap_field field form_group_class="col-md-12" label_class="col-md-4" field_class="col-md-8" size="small" layout="horizontal" %}
						{% endfor %}
						</div>
					</div>
					<div class="modal-footer">
						<input type="hidden" name="tipoForm" value="editData">
						<input type="hidden" name="tipoEdit" value="user_data">
						<input type="hidden" name="object_id" value="{{ user_data.pk }}">
						<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Edit</button>
						<button type="reset" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Cancel</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
{% endif %}


{% if form_edit_avatar %}
	{{ form_edit_avatar.media }}
	<div class="modal fade" id="editAvatar">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Edit user avatar</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form method="post" action="{{ form_action }}" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="modal-body">
						<div class="row justify-content-start">
						{% for field in form_edit_avatar %}	
							{% bootstrap_field field form_group_class="col-md-12" label_class="col-md-4" field_class="col-md-8" size="small" layout="horizontal" %}
						{% endfor %}
						</div>
					</div>
					<div class="modal-footer">
						<input type="hidden" name="tipoForm" value="editData">
						<input type="hidden" name="tipoEdit" value="user_avatar">
						<input type="hidden" name="object_id" value="{{ user_data.pk }}">
						<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Edit</button>
						<button type="reset" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Cancel</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endif %}


<div class="row">
	<div class="col-md-8">
		<div class="card">
			<div class="card-body">
				<h2>{% if user_data.is_own_profile %} [My profile] {% endif %} {{ user_data.full_name }}</h2>
				<hr />
				<div class="row">
					<div class="col-md-4 text-right"><b><i class="fa fa-user"></i> Username: </b></div><div class="col-md-8">{{ user_data.username }}</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-right"><b><i class="fa fa-phone"></i> Cellphone: </b></div><div class="col-md-8">{{ user_data.cellphone }}</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-right"><b><i class="fa fa-email"></i> Email: </b></div><div class="col-md-8">{{ user_data.email }}</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-right"><b><i class="fa fa-bag"></i> Profession: </b></div><div class="col-md-8">{{ user_data.profesion }}</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-right"><b><i class="fa fa-calendar"></i> Born date: </b></div><div class="col-md-8">{{ user_data.born_date }}</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-right"><b><i class="fa fa-calendar"></i> Join date: </b></div><div class="col-md-8">{{ user_data.join_date }}</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-right"><b><i class="fa fa-calendar"></i> Last login: </b></div><div class="col-md-8">{{ user_data.last_login }}</div>
				</div>
			</div>
		</div>
		
		<div class="card">
			<div class="card-body">
				<h2>As administrator</h2>
				<hr />
				{% if projects_admin|length > 0 %}
					<div class="list-group">
					{% for proj in projects_admin %}
						<a class="list-group-item" href="/projects/view/{{ proj.pk }}" title="Visit project">
							{{ proj.title }}<br />
							<small class="text-right">Modificated in {{ proj.modification_date }}</small>
						</a>
					{% endfor %}
					</div>
				{% else %}
					There are no projects where the user is an administrator
				{% endif %}
			</div>
		</div>
		
		
		<div class="card">
			<div class="card-body">
				<h2>As a contributor</h2>
				<hr />
				{% if projects_collaborator|length > 0 %}
					<div class="list-group">
					{% for proj in projects_collaborator %}
						<a class="list-group-item" href="/projects/view/{{ proj.pk }}" title="Visit project">
							{{ proj.title }}<br />
							<small class="text-right">Modificated in {{ proj.modification_date }}</small>
						</a>
					{% endfor %}
					</div>
				{% else %}
					There are no projects where the user is a collaborator
				{% endif %}
				
			</div>
		</div>
		
	</div>
	<div class="col-md-4">
		<div class="card">
			<div class="card-body">
				{% if user_data.avatar != None and user_data.avatar != "" %}
					<img src="{{ user_data.avatar.url }}" class="col-md-12">
				{% else %}
					<img src="{% static "/assets/images/avatar.png" %}" class="col-md-12">
				{% endif %}
			</div>
		</div>
		{% if can_edit %}
			<div class="card">
				<div class="card-body">
					<a href="#" data-toggle="modal" data-target="#editContrasena" class="btn btn-primary btn-block" title="Edit user password"> <i class="fa fa-key"></i> Change password</a>
					<a href="#" data-toggle="modal" data-target="#editUser" class="btn btn-warning btn-block" title="Edit user data"> <i class="fa fa-edit"></i> Edit data</a>
					
					{% if user_data.is_own_profile %}
						<a href="#" data-toggle="modal" data-target="#editAvatar" class="btn btn-info  btn-block" title="Edit avatar"> <i class="fa fa-image"></i> Edit avatar</a>
					{% endif %}
				</div>
			</div>
		{% endif %}
	</div>
</div>
{% autoescape off %}{{ configuration.text }}{% endautoescape %}

{% endblock %}
