/*th.rotate {
	height: 150px !important;
	word-wrap: break-word;
	width:50px !important;
}

th.rotate > div {
	height: 50px !important;
	width:160px;
	transform: 
		translate(0px, -40px)
		rotate(90deg);
	-webkit-transform: 
		translate(0px, -40px)
		rotate(90deg);
	-moz-transform: 
		translate(0px, -40px)
		rotate(90deg);
	-ie-transform: 
		translate(0px, -40px)
		rotate(90deg);
	-o-transform: 
		translate(0px, -40px)
		rotate(90deg);
	text-align:center;
}
th.rotate > div > span {
}*/
.join_col{
	width:130px;
}
/*

th.rotate{
  height: 200px;
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  position: relative;
  vertical-align: bottom;
  padding: 0;
  font-size: 12px;
  line-height: 0.8;
}

th.rotate > div{
  position: relative;
  top: 0px;
  left: -8px; 
  height: 100%;
  width: 55px;
  overflow: hidden;
  text-align:left;
}

th.rotate span {
  -webkit-transform:skew(0deg,0deg) rotate(90deg);
  position: absolute;
  bottom: 60px;
  left: -65px; 
  display: inline-block;
  width: 180px;
  text-align: left;
}
*/
/*
table tbody, table thead
{
    display: block;
}

table tbody 
{
   overflow: auto;
    height: 300px;
}

table {
    width: 100%;
}

*/
