.flotante-box{
	background:white;
	width:300px;
	border:solid 2px gray;
	box-shadow:1px 1px 3px gray;
	padding:2px;
	position:absolute;
	border-radius:2px;
	visibility:hidden;
	z-index:2;
	margin-top:10px;
	margin-left:-200px;
	color:black;
}

.click_row:hover{
	background:#55BEDB;
	color:white;
	cursor:pointer;
}

.bg-float{
	content: "";
	width:100%;
	height:100%;
	top:0;
	left:0;
	position:fixed;
	z-index:1;	
    background: #272727;
    opacity: 0.7;
	visibility:hidden;
}
.close_view{
	float:right;
}

td.selected{
	color:white;
	background:#55BEDB;
	box-shadow:inset 0 0 10px #1D7FC7;
	z-index:3;
	position:absolute;
}

th.selected{
	color:white;
	background:#55BEDB;
	box-shadow:inset 0 0 10px #1D7FC7;
	z-index:3;
	position:absolute;
}

.visible-box{
	visibility:visible;
}
