.SelectableRow{
	color:white;
	background:#448BC3;
}

.SelectedRow{
	color:white;
	background:#D11146;
}
.OutputRow{
	color:green;
	box-shadow:inset 0 0 10px green;
}

.InvalidRow{
	color:white;
	background:rgb(120, 120, 120);
}
