{% load staticfiles %}
<!doctype html>
<html class="fixed">
	<head>

		<!-- Basic -->
		<meta charset="UTF-8">

		<title>GMA :: 404</title>
		<meta name="keywords" content="general morphological analisis, uniquindío, ingeniería electrónica" />
		<meta name="description" content="Page for admin the gma">
		<meta name="author" content="ingelect">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<!-- Web Fonts  -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{% static "/assets/vendor/bootstrap/css/bootstrap.css" %}" />
		<link rel="stylesheet" href="{% static "/assets/vendor/font-awesome/css/font-awesome.css" %}" />
		<link rel="stylesheet" href="{% static "/assets/vendor/magnific-popup/magnific-popup.css" %}" />
		<link rel="stylesheet" href="{% static "/assets/vendor/bootstrap-datepicker/css/datepicker3.css" %}" />

		<!-- Theme CSS -->
		<link rel="stylesheet" href="{% static "/assets/stylesheets/theme.css" %}" />
		<link rel="stylesheet" href="{% static "/assets/vendor/pnotify/pnotify.custom.css" %}" />

		<!-- Skin CSS -->
		<link rel="stylesheet" href="{% static "/assets/stylesheets/skins/default.css" %}" />

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="{% static "/assets/stylesheets/theme-custom.css" %}">

		<!-- Head Libs -->
		<script src="{% static "/assets/vendor/modernizr/modernizr.js" %}"></script>

		<script src="{% static "/assets/vendor/jquery/jquery.js" %}"></script>
		<script src="{% static "/assets/vendor/ios7-switch/ios7-switch.js" %}"></script>
		
		
	    <link rel="icon" href="{%static "/assets/images/logo.png" %}">

	</head>
	<body>
		<!-- start: page -->
			<section class="body-error error-outside">
				<div class="center-error">

					<div class="error-header">
						<div class="row">
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-8">
										<a href="/" class="logo">
											<img src="{%static "assets/images/logo.png" %}" height="54" alt="Porto Admin" />
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8">
							<div class="main-error mb-xlg">
								<h2 class="error-code text-dark text-center text-semibold m-none">404 <i class="fa fa-file"></i></h2>
								<p class="error-explanation text-center">We're sorry, but the page you were looking for doesn't exist.</p>
							</div>
						</div>
						<div class="col-md-4">
							<h4 class="text">Here are some useful links</h4>
							<ul class="nav nav-list primary">
								<li>
									<a href="/"><i class="fa fa-caret-right text-dark"></i> Home</a>
								</li>
								<li>
									<a href="/user/profile"><i class="fa fa-caret-right text-dark"></i> User Profile</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
		<!-- end: page -->

		<script src="{% static "/assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js" %}"></script>
		<script src="{% static "/assets/vendor/bootstrap/js/bootstrap.js" %}"></script>
		<script src="{% static "/assets/vendor/nanoscroller/nanoscroller.js" %}"></script>
		<script src="{% static "/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js" %}"></script>
		<script src="{% static "/assets/vendor/magnific-popup/magnific-popup.js" %}"></script>
		<script src="{% static "/assets/vendor/jquery-placeholder/jquery.placeholder.js" %}"></script>
		
		<script src="{% static "/assets/vendor/pnotify/pnotify.custom.js" %}"></script>
		<!-- Theme Base, Components and Settings -->
		<script src="{% static "/assets/javascripts/theme.js" %}"></script>
		
		<!-- Theme Custom -->
		<script src="{% static "/assets/javascripts/theme.custom.js" %}"></script>
		
		<!-- Theme Initialization Files -->
		<script src="{% static "/assets/javascripts/theme.init.js" %}"></script>
		

	</body>
</html>
