{% extends "structure.html" %}

{% block content_body %}


<div class="row">
	<div class="col-md-4" style="margin-right: 20px;">
		<h2>My personal data</h2>
		<div class="card">
			<div class="card-body">
				
				<a class="btn btn-warning" href="/user/profile">view profile</a>
			</div>
		</div>
	</div>
	<div class="col-md-7">
		<h2>Projects</h2>
		<div class="card">
			<div class="card-body">
				<h2>As administrator</h2>
				<hr />
				{% if projects_admin|length > 0 %}
					<div class="list-group">
					{% for proj in projects_admin %}
						<a class="list-group-item" href="/projects/view/{{ proj.pk }}" title="Click for see a posible solution">
							{{ proj.title }}<br />
							<small class="text-right">Modificated in {{ proj.modification_date }} - click for see a prosible solution</small>
						</a>
					{% endfor %}
					</div>
				{% else %}
					There are no projects where the user is an administrator
				{% endif %}
			</div>
		</div>
		
		
		<div class="card">
			<div class="card-body">
				<h2>As a contributor</h2>
				<hr />
				{% if projects_collaborator|length > 0 %}
					<div class="list-group">
					{% for proj in projects_collaborator %}
						<a class="list-group-item" href="/projects/view/{{ proj.pk }}" title="Click for see a posible solutiont">
							{{ proj.title }}<br />
							<small class="text-right">Modificated in {{ proj.modification_date }} - click for see a prosible solution</small>
						</a>
					{% endfor %}
					</div>
				{% else %}
					There are no projects where the user is a collaborator
				{% endif %}
				
			</div>
		</div>
	</div>
</div>

<hr />
<div class="row">
	<div class="card col-md-12">
		<div class="card-header">
			<p>Last text</p>
		</div>
		<div class="card-body">
			{% autoescape off %}{{ configuration.text }}{% endautoescape %}
		</div>
	</div>
</div>
{% endblock %}
