{% load staticfiles %}
<!doctype html>
<html class="fixed">
	<head>

		<!-- Basic -->
		<meta charset="UTF-8">

		<title>GMA :: Login</title>
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static "/assets/vendor/bootstrap/css/bootstrap.min.css" %}">
		<link href="{% static "/assets/vendor/fonts/circular-std/style.css" %}" rel="stylesheet">
		<link rel="stylesheet" href="{% static "/assets/libs/css/style.css" %}">
		<link rel="stylesheet" href="{% static "/assets/vendor/fonts/fontawesome/css/fontawesome-all.css" %}">
		<link rel="icon" href="{%static "/assets/images/logo.png" %}">
		<style>
		html, body {
			height: 100%;
		}

		body {
			display: -ms-flexbox;
			display: flex;
			-ms-flex-align: center;
			align-items: center;
			padding-top: 40px;
			padding-bottom: 40px;
		}
		</style>

	</head>
	<body>
	
		<div class="splash-container">
			<div class="card ">
				<div class="card-header text-center">
					<img class="logo-img" src="{% static "/assets/images/logo.png" %}" alt="logo" style="width:80px;">
				</div>
				<div class="card-body">
				
					<form action="/login/" method="post">
						{% csrf_token %}
						<div class="form-group">
							<input class="form-control form-control-lg" name="username" id="username" type="text" placeholder="Username" autocomplete="off">
						</div>
						<div class="form-group">
							<input class="form-control form-control-lg" name="pwd" id="password" type="password" placeholder="Password">
						</div>
						<div class="form-group">
							<label class="custom-control custom-checkbox">
								<input class="custom-control-input" name="rememberme" type="checkbox"><span class="custom-control-label">Remember Me</span>
							</label>
						</div>
						<button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
						<hr />
						{% if error != None %}
							<div id="messageBody" class="messageBody alert alert-danger">
								Error in login
							</div>
							<hr />
						{% elif success != None %}
							<div id="messageBody" class="messageBody alert alert-primary">
								Thanks for visit us
							</div>
						{% endif %}
					</form>
				</div>
				<div class="card-footer bg-white p-0  ">
					<div class="card-footer-item card-footer-item-bordered">
						<a href="#" class="footer-link">Forgot Password?</a>
					</div>
				</div>
			</div>
		</div>

		<!-- ============================================================== -->
		<!-- end login page  -->
		<!-- ============================================================== -->
		<!-- Optional JavaScript -->
		<script src="{% static "/assets/vendor/jquery/jquery-3.3.1.min.js" %}"></script>
		<script src="{% static "/assets/vendor/bootstrap/js/bootstrap.bundle.js" %}"></script>
	</body>	
</html>
