{% extends "structure.html" %}
{% load bootstrap4 %}
{% load staticfiles %}
{% block content_body %}

	
<div class="row">
	<div class="col-md-4">
		<div class="card">
			<div class="card-body">
				{% if project.avatar != None and project.avatar != "" %}
					<img src="{{ project.avatar.url }}" class="col-md-12">
				{% else %}
					<img src="{% static "/assets/images/avatar-project.png" %}" class="col-md-12">
				{% endif %}
				<hr />
				<a href="/projects/input_matrix/{{project.pk}}" class="btn btn-block btn-warning"><i class="fa fa-table"></i> View input matrix</a>
				<a href="/projects/cross_matrix/{{project.pk}}" class="btn btn-block btn-info"><i class="fa fa-table"></i> View cross consitency matrix</a>
				<a href="/projects/problem_states/{{project.pk}}" class="btn btn-block btn-primary"><i class="fa fa-table"></i> View states problem</a>
			</div>
		</div>
	</div>


	<div class="col-md-8">
		<div class="card">
			<h5 class="card-header">{{project.title}}</h5>
			<div class="card-body">
				<div class="row">
					<div class="col-md-4 text-right"><b><i class="fa fa-eye"></i> Visibility: </b></div><div class="col-md-8">{{ project.is_public }}</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-right"><b><i class="fa fa-tag"></i> Tags: </b></div><div class="col-md-8">{{ project.keywords }}</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-right"><b><i class="fa fa-paper"></i> Observations: </b></div><div class="col-md-8">{{ project.observations }}</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-right"><b><i class="fa fa-calendar"></i> Modification date: </b></div><div class="col-md-8">{{ project.modification_date }}</div>
				</div>
				<div class="row">
					<div class="col-md-4 text-right"><b><i class="fa fa-calendar-plus"></i> Creation date: </b></div><div class="col-md-8">{{ project.creation_date }}</div>
				</div>
				{% if is_project_admin %}
					<button class="btn btn-sm btn-warning" data-toggle="modal" data-target="#edit_project" title="Edit project information"> <i class="fa fa-edit"></i></button>
				{% endif %}
				<a href="/report/project/{{ project.pk }}" class="btn btn-sm btn-success" title="Export data to excel"> <i class="fa fa- fas fa-file-excel"></i></a>
			</div>
		</div>
		
		<div class="card">
			<h5 class="card-header">Users</h5>
			<div class="card-body">
				{% if is_project_admin %}
					<button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal"><i class='fa fa-plus'></i> Add collaborator</button>
				{% endif %}
				<hr />
				{% if pro_user|length > 0 %}
					{% for pu in pro_user %}
						<div class="container">
							<div class="row show-grid">
								<div class="col-md-5"><span class="show-grid-block"><b>User: </b>{{ pu.user }}</span></div>
								<div class="col-md-5"><span class="show-grid-block"><b>Mode: </b>{{ pu.mode }}</span></div>
								{% if is_project_admin %}
									<div class="col-md-2"><span class="show-grid-block"><b><button title="Delete user" class='btn btn-sm btn-danger delete_user_project' pu_id="{{ pu.pk }}"><i class='fa fa-trash'></i></button></b></span></div>
								{% endif %}
							</div>		
						</div>
					{% endfor %}
				{% else %}
					You are the unique user in this project.
				{% endif %}
			</div>
		</div>
		
	</div>
</div>
	
	{% if is_project_admin %}
	<div class="modal fade" id="edit_project">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Edit project data</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form method="post" action='{{ form_action }}' enctype="multipart/form-data">
					{% csrf_token %}					
					<div class="modal-body">
						{{ form_edit.media }}
						<div class="row justify-content-start">	
							{% for field in form_edit %}	
								{% bootstrap_field field form_group_class="col-md-12" field_class="col-md-12" size="small" %}
							{% endfor %}	
						</div>
					</div>
					<div class="modal-footer">	
						<input type="hidden" name="tipoForm" value="editData">
						<input type="hidden" name="object_id" value="{{ project.pk }}">
						<hr />
						{% buttons %}
							<button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Edit data</button>
							<button type="reset" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Cancel</button>
						{% endbuttons %}
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="modal fade" id="myModal">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Add collaborator</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<!-- Modal body -->			
				<form method="post" action='{{ form_action }}'>
					{% csrf_token %}
					<div class="modal-body">
						<div class="row justify-content-start">
						{{ form_add.media }}
						{% for field in form_add %}	
							{% bootstrap_field field form_group_class="col-md-12" label_class="col-md-4" field_class="col-md-8" size="small" layout="horizontal" %}
						{% endfor %}
						</div>
					</div>
					<!-- Modal footer -->
					<div class="modal-footer">					
						<!-- Hidden Params -->
						<input type="hidden" name="tipoForm" value="addData">
						<input type="hidden" name="object_id" value="{{ project.pk }}">				
						<!-- Buttons -->				
						<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Add</button>
						<button type="reset" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Cancel</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	
	<div class="modal fade" id="modalDelete">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Delete register</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<!-- Modal body -->			
				<form method="post" action='{{ form_action }}'>
					{% csrf_token %}
					<div class="modal-body">
						Are you sure of delete this?
					</div>
					
					<!-- Modal footer -->
					<div class="modal-footer">					
						<!-- Hidden Params -->
						<input type="hidden" name="tipoForm" value="deleteData">
						<input type="hidden" name="object_id" id="delete_object_id" value="">
						<input type="hidden" name="project_id" value="{{ project.pk }}">
						<!-- Buttons -->				
						<button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> yes, delete</button>
						<button type="reset" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-ban"></i> cancel</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	{% endif %}

{% endblock %}
