{% load staticfiles %}
<!doctype html>
<html lang="en">

 
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>GMA :: {{ page_title }}</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static "/assets/vendor/bootstrap/css/bootstrap.min.css" %}">
	<link href="{% static "/assets/vendor/fonts/circular-std/style.css" %}" rel="stylesheet">
	<link rel="stylesheet" href="{% static "/assets/libs/css/style.css" %}">
	<link rel="stylesheet" href="{% static "/assets/vendor/fonts/fontawesome/css/fontawesome-all.css" %}">
	{% for file in css_files %}
		<link href="{% static "/custom_assets/css/"|add:file %}" rel="stylesheet"></link>
	{% endfor %}
	<link rel="icon" href="{%static "/assets/images/logo.png" %}">
	<script src="{% static "/assets/vendor/jquery/jquery-3.3.1.min.js" %}"></script>
</head>

<body>
	<!-- ============================================================== -->
	<!-- main wrapper -->
	<!-- ============================================================== -->
	<div class="dashboard-main-wrapper">
		<!-- ============================================================== -->
		<!-- navbar -->
		<!-- ============================================================== -->
	   <div class="dashboard-header">
			<nav class="navbar navbar-expand-lg bg-white fixed-top">
				<a class="navbar-brand" href="/"><img src="{% static "/assets/images/logo.png" %}" style="width:45px;"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"><i class="fa fa-list"></i></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto navbar-right-top">
						<li class="nav-item">
							<div id="custom-search" class="top-search-bar">
								<h2 class="pageheader-title">{{ page_title }} </h2>
							</div>
						</li>
						<li class="nav-item dropdown nav-user">
							<a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								{% if user.avatar != None and user.avatar.size != None %}
									<img src="{{ user.avatar.url }}"  class="user-avatar-md rounded-circle">
								{% else %}
									<img src="{% static "/assets/images/avatar.png" %}"  class="user-avatar-md rounded-circle">
								{% endif %}
							</a>
							<div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
								<div class="nav-user-info">
									<h5 class="mb-0 text-white nav-user-name">{{ user.get_full_name }}</h5>
									<span class="status"></span><span class="ml-2">{% if user.is_superuser %} Administrador {% else %} Común {% endif %}</span>
								</div>
								<a class="dropdown-item" href="/user/profile/"><i class="fas fa-user mr-2"></i>Profile</a>
								<a class="dropdown-item" href="/logout"><i class="fas fa-power-off mr-2"></i>Logout</a>
							</div>
						</li>
					</ul>
				</div>
			</nav>
		</div>
		<!-- ============================================================== -->
		<!-- end navbar -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- left sidebar -->
		<!-- ============================================================== -->
	  <div class="nav-left-sidebar sidebar-dark">
			<div class="menu-list">
				<nav class="navbar navbar-expand-lg navbar-light">
					<a class="d-xl-none d-lg-none" href="#">Dashboard</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav flex-column">
							<li class="nav-divider">
								Menu
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/index/">
									<i class="fa fa-home" aria-hidden="true"></i>
									<span>Home</span>
								</a>
							</li>
							{% for men in menu %}
								<li class="nav-item">
									{% if men.url != "" %}
										<a class="nav-link" href="{{ men.url }}"  {% if men.external %} target='_blank' {% endif %}><i class="{{ men.icon }}"></i><span>{{ men.label }}</span></a>
									{% else %}
										<a class="nav-link" href="javascript:void(0)" data-toggle="collapse" aria-expanded="false" data-target="#submenu-9" aria-controls="submenu-9"><i class="{{ men.icon }}"></i>{{ men.label }}</a>
										<div id="submenu-9" class="collapse submenu" style="">
											<ul class="nav flex-column">
												{% for m in men.submenu %}
													<li class="nav-item"><a class="nav-link" href="{{ m.url }}"><i class="{{ m.icon }}" {% if m.external %} href='_blank' {% endif %}></i> {{ m.label }}</a></li>
												{% endfor %}
											</ul>
									   	</div>
									{% endif %}
								</li>
							{% endfor %}
							<li>
								<hr />
								GMA uniquindío
							</li>
							
							
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<!-- ============================================================== -->
		<!-- end left sidebar -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- wrapper  -->
		<!-- ============================================================== -->
		<div class="dashboard-wrapper">
			<div class="container-fluid dashboard-content">
				<!-- ============================================================== -->
				<!-- pageheader -->
				<!-- ============================================================== -->
				<div class="row">
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
						<div class="page-header">
							<div class="page-breadcrumb">
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb">
										{% for br in breadcrumb %}
											{% if br.url == "" %}
												<li class="breadcrumb-item active"><span>{{br.label}}</span></li>									
											{% else %}
												{% if br.url == "/" %}
													<li class="breadcrumb-item"><a href="/index" class="breadcrumb-link">{{br.label}}</a></li>
												{% else %}
													<li class="breadcrumb-item"><a href="{{ br.url }}" class="breadcrumb-link">{{br.label}}</a></li>
												{% endif %}
											{% endif %}
										{% endfor %}
									</ol>
								</nav>
							</div>
						</div>
					</div>
				</div>
				<!-- ============================================================== -->
				<!-- end pageheader -->
				<!-- ============================================================== -->
				<div class="row">
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
						{% if can_view_page %}
							{% for tem in aditional_templates %}
								{% include tem %}
							{% endfor %}
							{% block content_body %}
							{% endblock %}
						{% else %}
							No se puede mostrar la página solicitada
						{% endif %}
					</div>
				</div>
			</div>
			<!-- ============================================================== -->
			<!-- footer -->
			<!-- ============================================================== -->
			<!--div class="footer">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
							GMA.
						</div>
						<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
							<div class="text-md-right footer-links d-none d-sm-block">
								<a href="javascript: void(0);">About</a>
								<a href="javascript: void(0);">Support</a>
								<a href="javascript: void(0);">Contact Us</a>
							</div>
						</div>
					</div>
				</div>
			</div-->
			<!-- ============================================================== -->
			<!-- end footer -->
			<!-- ============================================================== -->
		</div>
		<!-- ============================================================== -->
		<!-- end main wrapper -->
		<!-- ============================================================== -->
	</div>
	<!-- ============================================================== -->
	<!-- end main wrapper -->
	<!-- ============================================================== -->
	<!-- Optional JavaScript -->
	<script src="{% static "/assets/vendor/bootstrap/js/bootstrap.bundle.js" %}"></script>
	<script src="{% static "/assets/vendor/slimscroll/jquery.slimscroll.js" %}"></script>
	<script src="{% static "/assets/libs/js/main-js.js" %}"></script>
	
	<script src="{% static "/custom_assets/js/page_handler.js" %}"></script>
	
	{% for file in js_files%}
		<script src="{% static "/custom_assets/js/"|add:file %}"></script>
	{% endfor %}
</body>
 
</html>
